body {
    max-width: 1300px;
    margin: auto;
}
.wrapper {
    width: 1024px;
    margin: auto;
}
header {
    position: relative;
    top: 30px; 
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-top {
    position: absolute;
    top: -3px;
    left: 1px;
}
.logo-bottom {
    position: relative;
    top: -3px;
    left: 4px;
}

figcaption {
    margin: 10px 0 0 20px;
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-transform: uppercase;
}
nav {
    width: 100%;
    margin: 42px 2px 0 0;
    text-align: right;
}

nav li {
    display: inline-block;
    width: 170px;
    height: 41px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.layout-1 {
    height: 566px;
    background-image: url("./assets/layouts/Layer1.png");
    -webkit-box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
    box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
}

.layout-2 {
    height: 211px;
    background-image: url("./assets/layouts/Layer2.png");

}

.layout-3 {
    height: 509px;
    background-image: url("./assets/layouts/Layer3.png");
    -webkit-box-shadow: inset -1px 36px 16px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 36px 16px -38px rgba(0,0,0,0.75);
    box-shadow: inset -1px 36px 16px -38px rgba(0,0,0,0.75);
}

.layout-4 {
    height: 498px;
    background-image: url("./assets/layouts/Layer4.png");
    -webkit-box-shadow: inset 0px -12px 9px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -12px 9px -9px rgba(0,0,0,0.75);
    box-shadow: inset 0px -12px 9px -9px rgba(0,0,0,0.75);
}

.layout-5 {
    height: 65px;
    background-color: #4c4c4c;
}
