@font-face {
    font-family: 'Segoe WP';
    src: local('Segoe WP'), url(./assets/fonts/SegoeWP.ttf) format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 200;
    src: local('Segoe UI Light'), url(./assets/fonts/segoeuil.ttf) format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 900;
    src: local('Segoe UI Bold'), url(./assets/fonts/segoeuib.ttf) format('truetype');
}

@font-face {
    font-family: 'Lucida Sans italic';
    src: local('Lucida Sans italic'), local('Lucida Sans italic'), url(./assets/fonts/LSANSI.TTF) format('truetype');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'), local('Asap Regular'), url(./assets/fonts/Asap-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(./assets/fonts/PTSans-Regular.ttf) format('truetype');
  }

body {
    min-width: 640px;
    max-width: 1300px;
    margin: auto;
}

.layout-1-1 {
    height: 82px;
    padding-top: 30px; 
    background-position: 0 0;
    background-image: url("./assets/layouts/Layer1.png");
}
.layout-1-2 {
    background-image: url("./assets/layouts/Layer1.png");
    background-position: 0 -112px;
    height:454px;
    -webkit-box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
    box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
}
.layout-2 {
    height: 212px;
    background-image: url("./assets/layouts/Layer2.png");

}

.layout-3 {
    height: 508px;
    background-image: url("./assets/layouts/Layer3.png");
    -webkit-box-shadow: inset -1px 36px 16px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 36px 16px -38px rgba(0,0,0,0.75);
    box-shadow: inset -1px 36px 16px -38px rgba(0,0,0,0.75);
}

.layout-4 {
    height: 497px;
    background-image: url("./assets/layouts/Layer4.png");
    -webkit-box-shadow: inset 0px -12px 9px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -12px 9px -9px rgba(0,0,0,0.75);
    box-shadow: inset 0px -12px 9px -9px rgba(0,0,0,0.75);
}

.layout-5 {
    height: 64px;
    background-color: #4c4c4c;
}
.wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
header div div {
    position: relative;
    display: flex;
    flex-direction: row;
}
.mobile-logo {
    display: none;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-top {
    position: absolute;
}
#big-top {
    top: -3px;
    left: 1px;
}
.logo-bottom {
    position: relative;
    
}
#big-bottom {
    top: -2px;
    left: 4px;
}

figcaption.hidden {
    display: none;
}

h1 {
    padding: 24px 0px 0 10px;
    font-size: 41px;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Lucida Sans italic", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 41px 2px 0 0;
}

nav ul {
    display: flex;
    box-shadow: -4px -4px #f5c50548, -8px -7px  #f5c50548;
}

nav li {
    display: inline-block;
    width: 150px;
    height: 41px;
    background-color:#f5c505;
    text-transform: uppercase;
    font-family: "Segoe WP", Verdana, sans-serif;
    font-size: 17px;
    letter-spacing: 0px;
}

nav li div {
    display: flex;
    justify-content: center;
    padding: 11px;
}
nav li a {
    padding: 2px 0 0 0px;
    text-decoration: none;
    color: #9b7d08;
}
nav li:hover{
    opacity: 0.7;
}
nav li:active{
    opacity: 0.5;
}

#nav-head {
    width: 173px;
    border-right: 1px solid #b99403;
}
#nav-head object {
    padding: 0 5px 0 16px;
}
#nav-head a {
    padding: 2px 2px 0 5px;
}
#nav-wrench {
    width: 130px;
    border-right: 1px solid #b99403;
}
#nav-wrench object {
    padding: 0 8px 0 0;
}
#nav-wrench a {
    padding: 2px 6px 0 0;
}
#nav-mail {
    width: 148px;
}
#nav-mail object {
    padding: 0 7px 0 0;
}
#nav-mail a {
    padding: 2px 6px 0 0;
}

#video-nav {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

#video-nav button {
    width: 32px;
    height: 57px;
    margin-top: 17px;
    border: none;
    background-color:#f5c505;
}
#video-nav button:hover {
    opacity: 0.7;
}
#video-nav button:active{
    opacity: 0.5;
}
#video-nav button:focus {
    outline: none;
}
#arrow-left {
    padding: 3px 2px 0 0;
}
#arrow-right {
    padding: 1px 0 0 4px;
}

#video-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#video-content div {
    padding-top: 26px;
    padding-left: 12px;    
}

#video-content video {
    background: url('./assets/video/placeholder_birds.jpg');
    background-size: 100% ;
}

#video-content h2 {
    display: flex;
    flex-direction: column;
    padding: 0 19px 4px 0;
    font-family: "Asap";
    font-size: 63px;
    letter-spacing: 0.7px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

#video-content span.yellow {
    color: #f5c506;
    padding-right: 16px;
    padding-bottom: 5px;
}


#icon-area .grid {
    height: 212px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 1px solid rgb(216, 216, 216);;
}
#icon-area .grid button{
    margin: 0 1px 0 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 1px solid rgb(216, 216, 216);
    background: transparent;
}

#icon-area .grid button span {
    font-family: 'Segoe UI';
    font-weight: 200;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 10px;

}

#icon-area .grid button:hover {
    opacity: 0.7;
}

#icon-area .grid button:active object{
    opacity: 0.5;
    transform: scale(0.9);
}

#icon-area .grid button:focus{
    outline: none;
}

.grid #cloud object {
    padding: 15px 3px 22px 0px;
}

.grid #cloud span {
    padding: 0 0 0 21px;
}

.grid #leaf object{
    padding: 10px 10px 10px 33px;
}
.grid #leaf span {
    padding: 16px 14px 17px 35px;
}

.grid #paper-plane object {
    padding: 12px 24px 6px 0;
}

.grid #paper-plane span {
    padding: 15px 17px 3px 0px
}

#yellow-section {
    display: flex;
    flex-direction: column;
}
#yellow-section h3 {
    padding: 39px 0px 34px 2px;
    font-family: "PT Sans";
    font-size: 37px;
    font-weight: 400;
    letter-spacing: 0.37px;
    text-transform: uppercase;
    color: #ffffff;
}
#yellow-section ul {
    display: flex;
    justify-content: space-between;
    height: 233px;
}

.orange {
    background-color: #ec9e03;
}

#yellow-section ul span {
    display: inline-block;
    align-self: flex-end;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: 300;
    letter-spacing: 0.3px;
    hyphens: auto;
}

#yellow-section div {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#yellow-section div button.plus {
    align-self: flex-end;
    border: none;
}

.collapse {
    display: flex;
    margin: 0 0 0 1px;
}

.collapse span{
    text-align: start;
    padding: 0px 7px 15px 31px;
} 

.collapse div {  
    width: 341px;
}

.collapse button.plus {
height: 100%;
   display: flex;
   padding: 2px 14px 0 0;
}
.collapse button.plus object{
    align-self: flex-end;
}

#video-box button {
    position: absolute;
    z-index: 10;
    width: 62px;
    height: 62px;
    margin: 93px 0 0 130px;
    padding: 1px 0 0 5px;
    border-radius: 100%;
    border: none;
    opacity: 0.8;
    background-color: #f5c506;
}

#video-box button:hover {
    opacity: 0.7;
}
#video-box button:active{
    opacity: 0.5;
}
#video-box button:focus{
    outline: none;
}

div.tweet {
    width: 329px;
    height: 233px;
    margin: 0 4px 0 0;
}

.tweet span {
    padding: 8px 16px
}

.tweet object {
    padding: 4px;
}

.tweet button.plus{
    padding: 8px 5px 0 0;
}

#yellow-section #tweets {
    display: none;
}

button.plus object:hover {
    transform: 
        rotate(45deg)
        scale(1.5, 1.5);
}

button.plus:active{
    opacity: 0.7;
}

button.plus:focus{
    outline: none;
}

.date {
    width: 113px;
    height: 86px;
    margin: 0 0 0 1px;
    
    background-color: #ddb101;
}
.date .center{
    align-self: center;
}
.date strong{
    display: inline-block;
    padding: 13px 0 0 7px ;
    font-family: "Segoe UI";
    font-size: 49px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-weight: bold;
}

.date span {
    padding: 0 0 0 6px;
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 21px;
    line-height: 35px;
    letter-spacing: 1px;
    color: #b26529;
}

input[type=range] {
    width: 895px;
    margin: 43px 0 0 76px;
    border-radius: 10px;
    -webkit-appearance: none;
    opacity: 0.8;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100px;
    height: 15px;
    border-radius: 15px;
    cursor: pointer;
    background: #fae592;
}
input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 198px;
    border-radius: 50px;
    cursor: pointer;
    background: #ec9e03;
    -webkit-appearance: none;
}

#gray-section h3{
    text-align: center;
    padding: 44px 0 7px 5px;
    font-family: "PT Sans";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 43px;
    letter-spacing: 0.5px;
    color: #f5c506;
}

#gray-section .circle {
    position: absolute;
    height: 115px;
    width: 115px;
    background-color: #f5c506;
    border-radius: 100%;
}

.circle span {
    display: inline-block;
    padding: 52px 0px 0 7px;
    font-family: "PT Sans Narrow";
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #ffffff;
}

.flex {
    display: flex;
    justify-content: space-between;
}
#gray-section ul {
    height: 225px;
    padding: 78px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: url('assets/gray_section/list_circle.svg');
}

#gray-section li {
    width: 343px;
    height: 41px;
    padding: 12px 8px 13px 12px;
    font-family: "Open Sans";
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-weight: 400;
    hyphens: auto
}

#comp {
    padding: 43px 0 0px 20px;
}

#ipad {
    margin: 20px 20px 40px 20px; 
}

#phone {
    padding: 0 0 40px 1px;
}

footer .logo {
    padding: 7px 0 0px 1px;
}

footer .logo-bottom {
    padding: 0 0 0 2px;
}

footer .logo figcaption {
    font-size: 29px;
    padding: 0 0 0 7px;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Lucida Sans italic", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 640px;
        height: 100%;
    }
    .layout-1-1 {
        height: 62px;
        padding: 0 0 0 0;
        background-image: repeating-linear-gradient(to bottom,rgb(91, 91, 91) 0%,rgb(64, 64, 64) 100%);
    }

    .layout-1-2 {
        background-image: url("./assets/mobile/layout/layout-birds.png");
        height:327px;
        background-position: 0 0;
        -webkit-box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
        -moz-box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
        box-shadow: inset -1px -36px 16px -38px rgba(0,0,0,0.75);
    }
    .layout-2 {
        height: 166px;
        background-image: url("./assets/layouts/Layer2.png");
    
    }
    .layout-3 {
        height: 489px;
        background: none;
    }
    .layout-4 {
        height: 466px;
        background: none;
        background-color: #474747;
    }
    .layout-5 {
        height: 43px;
        background-color: #4c4c4c;
    }

    .layout-1-1 div {
        align-items: center;
    }

    .logo {
        display: none;
    }

    .mobile-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 2px 11px;
    }
    .mobile-logo .logo-bottom {
        padding: 0px 0px 0px 2px;
    }
    
    h1 {
        padding: 4px 0px 0 7px;
        font-size: 19px;
        text-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
    }
    nav {
        margin: 0 0 0 0;
        justify-content: flex-end;
        height: 100%;
    }
    nav ul {
        display: flex;
        box-shadow: none;
    }
    nav li {
        display: flex;
        align-items: center;
        height: 100%;
    }
    #video-nav {
        padding: 0 0 0 0;
        background: url("./assets/mobile/layout/transparent.png");
    }

    #video-nav button {
        display: none;
    }

    #video-content {
        justify-content: center;
    }

    #video-content div {
        padding: 0 0 0 16px;
    }

    #video-content h2 {
        display: none;
    }
    .mobile-shadow {
        position: absolute;
        width: 100%;
        height: 1%;
        box-shadow:  0px -4px rgba(233, 233, 232, 0.5), 
            0px -9px  rgba(233, 233, 232, 0.5);
    }
    #icon-area {
        
        height: 100%;
    }
    #icon-area .grid {
        height: 100%;
        border: none;
    }
    #icon-area .grid button {
        justify-content: space-between;
        border: none;
    }
    #icon-area .grid button span{
        font-size: 23px;
        letter-spacing: 0.2px;
    }

    #icon-area object{
        height: 50%; 
        width: 50%; 
    }

    #icon-area #cloud object{
        padding: 21px 35px 0px 0px;
    }
    .grid #cloud span {
        padding: 0 25px 32px 2px;
    }
        
    #icon-area #leaf object{ 
        padding: 22px 0 0 16px;
    }
    #icon-area #leaf span {
        padding: 0px 0 32px 18px;
    }
    #icon-area #paper-plane object{
        width: 79%; 
        padding: 21px 7px 0 0;
    }
    #icon-area #paper-plane span {
        padding: 0px 0 32px 5px;
    }
    
    #yellow-section h3 {
        display: none;
    }

    #yellow-section ul {
        flex-direction: column;
    }

    #yellow-section .collapse {
        justify-content: space-evenly;
        align-items: center;
        margin: 0 0 0 0;
    }

    #yellow-section .collapse div {
        height: 232px;
        width: 315px;
    }
    #yellow-section .collapse div.orange {
        margin: 15px 9px 9px 9px;
    }
    #yellow-section .collapse button.plus {
        padding: 0px;
    }
    #yellow-section .collapse button.plus object {
        padding: 1px 11px;
    }

    #yellow-section .collapse span {
        padding: 0px 0px 1px 26px;
        line-height: 33px;
    }

    #yellow-section .collapse #video-box {
        margin: 4px 8px 0 0;
    }
    #yellow-section div {
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }
    #yellow-section .yellow {
        background: #f5c505
    }
    #yellow-section .tweet #counter {
        display: none;
    }
    #yellow-section .tweet div {
        justify-content: space-evenly;
    }
    #yellow-section .tweet button {
        display: none;
    }
    
    #yellow-section .tweet object {
        padding: 0;
    }
    #yellow-section .tweet #bird {
        padding: 59px 32px 42px 83px;
    }
    #yellow-section #tweets {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 12px 0 0 11px;
    }

    #yellow-section #tweets span {
        position: absolute;
        width: 225px;
        padding: 5px 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #8f8e8e;
    }
    #yellow-section #tweets form {
        padding: 0 0 0 26px;
    }
    #yellow-section #tweets input[type="text"] {
        width: 200px;
        height: 26px;
        padding-right: 72px;
        border: 1px solid #d0a706;
        border-radius: 11px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        letter-spacing: 0.1px;
        color: #585858;
        box-shadow: inset 8px 18px 22px -23px rgba(0, 0, 0, 0.473);
    }
    #yellow-section #tweets input[type="submit"] {
        margin-left: -76px;
        margin-right: 12px;
        height: 29px;
        width: 72px;
        border: none;
        border-radius: 0 11px 11px 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        letter-spacing: 0px;
        color: #ffffff;
        background-image: linear-gradient(0deg,#d08e0c 0%,#e9a725 100%);
        cursor: pointer;
    }
    #yellow-section #tweets input:focus{
        outline: none;
    }
    #yellow-section .date {
        display: none;
    }
    #yellow-section input[type=range] {
        display: none;
    }
    #gray-section h3 {
        text-align: center;
        padding: 37px 10px 37px 0px;
        font-size: 39px;
        letter-spacing: 0.4px;
        color: #f5c506;
        font-family: "Open Sans";
        font-weight: 400;
    }
    #gray-section .circle {
        margin: 2px 0 0 27px;
    }

    .flex {
        padding: 0 0 0 37px;
    }

    #gray-section ul{
        display: none;
    }
    footer .mobile-logo {
        padding: 6px 0 0px 64px;
    }
    
    footer .logo-bottom {
        padding: 0 0 0 1px;
    }
    
    footer .mobile-logo figcaption {
        font-size: 17px;
        padding: 0 0 0 7px;
        letter-spacing: 0.3px;
        color: #ffffff;
        font-family: "Lucida Sans italic", Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        text-shadow: 1px 1.732px 0px rgba(0,0,0,0.42);
    }
}
